@model Invoice_Manager.Models.ViewModels.InvoiceFormViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = Model.Heading;
    var action = (Model.Invoice.InvoiceId) == 0 ? "Create" : "Edit";
}



<script>
   

    var availableProducts = @Html.Raw(JsonConvert.SerializeObject(Model.Products.Select(p => new {
        id = p.ProductId,
        name = p.Name,
        price = p.UnitPriceNet,
        unit = p.Unit,
        taxRateId = p.DefaultTaxRateId
    })));

    var existingItems = @Html.Raw(JsonConvert.SerializeObject(Model.Invoice.InvoiceItems.Select(i => new {
        ProductId = i.ProductId,
        Name = i.Name,
        Quantity = i.Quantity,
        Unit = i.Unit,
        UnitPriceNet = i.UnitPriceNet,
        TaxRateValue = i.TaxRateValue
    })));

    var availableClients = @Html.Raw(JsonConvert.SerializeObject(Model.Clients.Select(c => new{ id = c.ClientId,
                          addres = $"{c.Street} {c.PostalCode} {c.Country}"})))
</script>

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                <i class="fa fa-file-invoice"></i> 
                @Model.Heading  testowo dodany tekst 
            </h4>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("Create", "Invoice"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Invoice.InvoiceId)

                <div class="row mb-4">
                    
                    <div class="col-md-6">
                        <h5>Nabywca</h5>
                        <div class="form-group" onchange="clientChanged(this)">
                            @Html.LabelFor(m => m.Invoice.ClientId, "Wybierz klienta")
                            @Html.DropDownListFor(m => m.Invoice.ClientId,
                                new SelectList(Model.Clients, "ClientId", "ClientName"),
                                "--- Wybierz klienta ---",
                                new { @class = "form-control", id = "ddlClients" })
                        </div>
                        <div class="mt-3 p-3">
                            <strong>Adres: <span id="clientAddress"></span><br />
                            <strong>NIP:</strong> <span id="clientNip"></span>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <h5>Szczegóły</h5>
                        <div class="row">
                            <div class="col-6 mb-2">
                                @Html.LabelFor(m => m.Invoice.IssueDate, "Data wystawienia")
                                @Html.TextBoxFor(m => m.Invoice.IssueDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                               
                            </div>
                            <div class="col-6 mb-2">
                                @Html.LabelFor(m => m.Invoice.SaleDate, "Data sprzedaży")
                                @Html.TextBoxFor(m => m.Invoice.SaleDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                               
                            </div>
                            <div class="col-6 mb-2">
                                @Html.LabelFor(m => m.Invoice.DueDate, "Termin płatności")
                                @Html.TextBoxFor(m => m.Invoice.DueDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                
                            </div>
                            <div class="col-6">
                                @Html.LabelFor(m => m.Invoice.PaymentMethod, "Metoda płatności")
                                @Html.EditorFor(m => m.Invoice.PaymentMethod, new { htmlAttributes = new { @class = "form-control", Value = "Przelew" } })
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <h5 class="mb-3 mt-4">Pozycje na fakturze</h5>

                <table class="table table-bordered table-hover" id="invoiceItemsTable">
                    <thead class="table-dark">
                        <tr>
                            <th style="width: 35%">Produkt / Usługa</th>
                            <th style="width: 10%">Ilość</th>
                            <th style="width: 10%">Jm.</th>
                            <th style="width: 15%">Cena Netto</th>
                            <th style="width: 15%">VAT</th>
                            <th style="width: 5%">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <button type="button" class="btn btn-success mb-5" onclick="addNewRow()">
                    <i class="fa fa-plus"></i> Dodaj pozycję
                </button>

                <table style="display: none;">
                    <tr id="itemRowTemplate">
                        <td>
                            <select class="form-select product-select" name="Invoice.InvoiceItems[{0}].ProductId" onchange="productChanged(this)">
                                <option value="">-- Wybierz z listy --</option>
                                @foreach (var prod in Model.Products)
                                {
                                    <option value="@prod.ProductId">@prod.Name</option>
                                }
                            </select>
                            <input type="hidden" name="Invoice.InvoiceItems[{0}].Name" class="item-name" />
                        </td>
                        <td>
                            <input type="number" class="form-control quantity-input" name="Invoice.InvoiceItems[{0}].Quantity" value="1" step="0.01" oninput="calculateRow(this)" />
                        </td>
                        <td>
                            <input type="text" class="form-control unit-input" name="Invoice.InvoiceItems[{0}].Unit" />
                        </td>
                        <td>
                            <input type="number" class="form-control price-input" name="Invoice.InvoiceItems[{0}].UnitPriceNet" step="0.01" oninput="calculateRow(this)" />
                        </td>
                        <td>
                            <select class="form-select tax-input" name="Invoice.InvoiceItems[{0}].TaxRateValue" onchange="calculateRow(this)">
                                @foreach (var tax in Model.TaxRates)
                                {
                                    <option value="@tax.Rate">@tax.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control-plaintext text-end row-gross" readonly value="0.00" />
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeRow(this)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>


                </table>



                <div class="row justify-content-end mt-4">
                    <div class="col-md-4">
                        <table class="table table-sm">
                            <tr>
                                <td><strong>Suma Netto:</strong></td>
                                <td class="text-end" id="summaryNet">0.00 PLN</td>
                            </tr>
                            <tr>
                                <td><strong>Suma VAT:</strong></td>
                                <td class="text-end" id="summaryVat">0.00 PLN</td>
                            </tr>
                            <tr class="table-active fs-5">
                                <td><strong>DO ZAPŁATY:</strong></td>
                                <td class="text-end fw-bold" id="summaryGross">0.00 PLN</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <hr />

                <button type="submit" class="btn btn-primary btn-lg w-100">Zapisz Fakturę</button>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var rowIndex = 0;

        function addNewRow(data = null) {

            var template = document.getElementById('itemRowTemplate').cloneNode(true);
            template.id = 'row_' + rowIndex;
            template.style.display = '';
            template.innerHTML = template.innerHTML.replace(/\{0\}/g, rowIndex);

            document.querySelector('#invoiceItemsTable tbody').appendChild(template);

            var currentRow = document.getElementById('row_' + rowIndex);

            if (data) {

                if (data.ProductId) {
                    currentRow.querySelector('.product-select').value = data.ProductId;
                }

                currentRow.querySelector('.item-name').value = data.Name;
                currentRow.querySelector('.quantity-input').value = data.Quantity; 
                currentRow.querySelector('.unit-input').value = data.Unit;        
                currentRow.querySelector('.price-input').value = data.UnitPriceNet;

                var taxSelect = currentRow.querySelector('.tax-input');

                taxSelect.value = data.TaxRateValue.toFixed(2);
                if (!taxSelect.value) {
                   
                    for (var i = 0; i < taxSelect.options.length; i++) {
                        if (parseFloat(taxSelect.options[i].value) == data.TaxRateValue) {
                            taxSelect.selectedIndex = i;
                            break;
                        }
                    }
                }

                calculateRow(currentRow.querySelector('.quantity-input'));
            }

            rowIndex++;
        }

        function removeRow(button) {
            var row = button.closest('tr');
            row.remove();
            updateInvoiceTotal();
        }

        function productChanged(selectElement) {
            var productId = selectElement.value;
            var row = selectElement.closest('tr');
            var product = availableProducts.find(p => p.id == productId);

            if (product) {
                row.querySelector('.item-name').value = product.name;
                row.querySelector('.price-input').value = product.price;
                row.querySelector('.unit-input').value = product.unit;

            }
            calculateRow(selectElement);
        }
        function clientChanged(selectElement) {

            

            var clientId = selectElement.value;

            var client = availableClients.find(c => c.clientId == clientId);
            var spanaddres = getElementById('clientAddress')
            spanaddres.value = client
            alert("Cześć" + client);
            alert(client);

        }

        function calculateRow(element) {
            var row = element.closest('tr');

            var quantity = parseFloat(row.querySelector('.quantity-input').value) || 0;
            var priceNet = parseFloat(row.querySelector('.price-input').value) || 0;
            var taxRate = parseFloat(row.querySelector('.tax-input').value) || 0;

            var totalNet = quantity * priceNet;
            var taxAmount = totalNet * (taxRate / 100);
            var totalGross = totalNet + taxAmount;

            row.querySelector('.row-gross').value = totalGross.toFixed(2);

            updateInvoiceTotal();
        }

        function updateInvoiceTotal() {
            var totalNet = 0;
            var totalTax = 0;
            var totalGross = 0;

            var rows = document.querySelectorAll('#invoiceItemsTable tbody tr');

            rows.forEach(row => {
                var quantity = parseFloat(row.querySelector('.quantity-input').value) || 0;
                var priceNet = parseFloat(row.querySelector('.price-input').value) || 0;
                var taxRate = parseFloat(row.querySelector('.tax-input').value) || 0;

                var rowNet = quantity * priceNet;
                var rowTax = rowNet * (taxRate / 100);

                totalNet += rowNet;
                totalTax += rowTax;
            });

            totalGross = totalNet + totalTax;

            document.getElementById('summaryNet').innerText = totalNet.toFixed(2) + " PLN";
            document.getElementById('summaryVat').innerText = totalTax.toFixed(2) + " PLN";
            document.getElementById('summaryGross').innerText = totalGross.toFixed(2) + " PLN";
        }

        document.addEventListener("DOMContentLoaded", function () {

            if (existingItems && existingItems.length > 0) {
                
                existingItems.forEach(function (item) {
                    addNewRow(item);
                });

                updateInvoiceTotal();
            }
            else {

                addNewRow();
            }
        });
    </script>
}